
.background {
  background-image: url();
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-image: url(https://images.wallpaperscraft.ru/image/gora_zakat_nebo_137151_1280x720.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}